#container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#right-description{
    text-align: center;
    
}

#container-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.center-text{
    text-align: center;
}

.center-text > h3{
    text-align: center;
}

#container-signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-form{
    text-align: center;
}

input{
    width: 400px;
}

#submit-button{
    width: 75px;
    height:33px;
    text-align: center;
}

#signup-box > h3{
    text-align: center;
}