@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #fad4d4;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;;
    gap: 30px;
}

#hero-image >img {

    width: 540px;
    border-radius: 5%;
}

#description{
    background-color: #f47c7c;
}

#right-description{
    text-align: center;
    width: 540px;
    font-size: 150%;
}

#container-center{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.center-text{
    text-align: center;
    width: 300px;
    margin: 80px auto;
    border: 2px solid #fff;
    border-radius: 5%;
    padding: 5px;
    color: #fff;
}

.center-text > h3{
    text-align: center;
}

#container-signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-form{
    text-align: center;
}

input{
    width: 400px;
}

#submit-button{
    width: 75px;
    height:33px;
    text-align: center;
    color: #fff;
    background-color: #f47c7c;
}

#signup-box > h3{
    text-align: center;
}

footer{
    background-color: #f47c7c;
    color: #fff;
    padding: 5px;
    margin: 30px 0;
}

table{
    text-align: center;
}
